/*DEVELOPER: Awura Abena Adjei, IS117-004, Spring 2024  */

@media (max-width: 800px) {
  .images {
    flex-direction: column;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  padding: 15px;
  border-color: #e1b0ac;

  @media (max-width: 800px) {
    .images {
      flex-direction: column;
    }
  }

  nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    padding: 15px;
    border-color: #e1b0ac;
    background-color: #e1b0ac;
  }

  a {
    text-decoration-line: none;
    font-family: "Playfair Display", serif;
    font-size: large;
    text-decoration-line: none;
    font-weight: bold;
    color: #213f99;
  }

  a:hover {
    color: white;
  }

  body {
    background-color: #f2d4d6;
  }

  p {
    color: #213f99;
    font-family: "Kalam", cursive;
    font-size: 20px;
    font-style: normal;
    text-wrap: wrap;
    text-align: center;
  }

  footer {
    color: #213f99;
    font-family: "Kalam", cursive;
    font-size: 20px;
    font-style: normal;
    text-wrap: wrap;
    text-align: center;
  }

  background-color: #e1b0ac;
}
.a {
  text-decoration: underline;
}

a {
  text-decoration-line: none;
  font-family: "Playfair Display", serif;
  font-size: large;
  text-decoration-line: none;
  font-weight: bold;
  color: #213f99;
}

a:hover {
  color: white;
}

body {
  background-color: #f2d4d6;
}

p {
  color: #213f99;
  font-family: "Kalam", cursive;
  font-size: 20px;
  font-style: normal;
  text-wrap: wrap;
  text-align: center;
}

.form_heading {
  text-align: center;
  padding: 0.5rem 0;
  color: #213f99;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}

footer {
  color: #213f99;
  font-family: "Kalam", cursive;
  font-size: 20px;
  font-style: normal;
  text-wrap: wrap;
  text-align: center;
}
